@model MasterDetails.Models.Candidate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Candidate" method="post" enctype="multipart/form-data">
          
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
               @* <span asp-validation-for="Name" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
               @* <span asp-validation-for="DateOfBirth" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
               @* <span asp-validation-for="Phone" class="text-danger"></span>*@
            </div>
           
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
               @* <span asp-validation-for="Email" class="text-danger"></span>*@
            </div>
            <div class="form-group form-check">
                
                <label class="form-check-label">
                 <input  class="form-check-input" asp-for="Fresher" /> @Html.DisplayNameFor(model => model.Fresher)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="Image" accept="/images*" class="form-control" />
                @*<span asp-validation-for="Image" class="text-danger"></span>*@
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <td>SkillName</td>
                        <td>SkillLevel</td>
                        <td>SkillYear</td>
                        
                    </tr>
                </thead>
                <tbody>
                <input type="submit" value="Add" name="btn" class="btn btn-success" formnovalidate/>
                    @for (int i = 0; i < Model.Experiances.Count; i++)
                    {
                        <tr>
                            <td><input asp-for="Experiances[i].SkillName" class="form-control" /></td>
                            <td><input asp-for="Experiances[i].SkillLevel" class="form-control" /></td>
                            <td><input asp-for="Experiances[i].SkillYear" class="form-control" /></td>
                            
                            <td><input type="submit" class="btn btn-danger" value="Delete" onclick="Remove(this)" /></td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="form-group mt-3">
                <input type="submit" value="Create" name="btn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function Remove(e) {
            e.closest("tr").remove();
        }
    </script>
}

